<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Runner.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>83838A39173A705B9CE0B38352504585C6D2A00F</string>
				<key>dateExpires</key>
				<string>4/5/20</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>83838A39173A705B9CE0B38352504585C6D2A00F</string>
						<key>dateExpires</key>
						<string>4/5/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4B5XVB7BVW</string>
						<key>name</key>
						<string>Rohith Venkatesh</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>83838A39173A705B9CE0B38352504585C6D2A00F</string>
						<key>dateExpires</key>
						<string>4/5/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>BSGridCollectionViewLayout.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4B5XVB7BVW</string>
						<key>name</key>
						<string>Rohith Venkatesh</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>83838A39173A705B9CE0B38352504585C6D2A00F</string>
						<key>dateExpires</key>
						<string>4/5/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>BSImagePicker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4B5XVB7BVW</string>
						<key>name</key>
						<string>Rohith Venkatesh</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>83838A39173A705B9CE0B38352504585C6D2A00F</string>
						<key>dateExpires</key>
						<string>4/5/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>BSImageView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4B5XVB7BVW</string>
						<key>name</key>
						<string>Rohith Venkatesh</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>83838A39173A705B9CE0B38352504585C6D2A00F</string>
						<key>dateExpires</key>
						<string>4/5/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FMDB.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4B5XVB7BVW</string>
						<key>name</key>
						<string>Rohith Venkatesh</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>83838A39173A705B9CE0B38352504585C6D2A00F</string>
						<key>dateExpires</key>
						<string>4/5/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4B5XVB7BVW</string>
						<key>name</key>
						<string>Rohith Venkatesh</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>83838A39173A705B9CE0B38352504585C6D2A00F</string>
						<key>dateExpires</key>
						<string>4/5/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4B5XVB7BVW</string>
						<key>name</key>
						<string>Rohith Venkatesh</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>83838A39173A705B9CE0B38352504585C6D2A00F</string>
						<key>dateExpires</key>
						<string>4/5/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GoogleToolboxForMac.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4B5XVB7BVW</string>
						<key>name</key>
						<string>Rohith Venkatesh</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>83838A39173A705B9CE0B38352504585C6D2A00F</string>
						<key>dateExpires</key>
						<string>4/5/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4B5XVB7BVW</string>
						<key>name</key>
						<string>Rohith Venkatesh</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>83838A39173A705B9CE0B38352504585C6D2A00F</string>
						<key>dateExpires</key>
						<string>4/5/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Mantle.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4B5XVB7BVW</string>
						<key>name</key>
						<string>Rohith Venkatesh</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>83838A39173A705B9CE0B38352504585C6D2A00F</string>
						<key>dateExpires</key>
						<string>4/5/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4B5XVB7BVW</string>
						<key>name</key>
						<string>Rohith Venkatesh</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>83838A39173A705B9CE0B38352504585C6D2A00F</string>
						<key>dateExpires</key>
						<string>4/5/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Stripe.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4B5XVB7BVW</string>
						<key>name</key>
						<string>Rohith Venkatesh</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>83838A39173A705B9CE0B38352504585C6D2A00F</string>
						<key>dateExpires</key>
						<string>4/5/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>flutter_image_compress.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4B5XVB7BVW</string>
						<key>name</key>
						<string>Rohith Venkatesh</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>83838A39173A705B9CE0B38352504585C6D2A00F</string>
						<key>dateExpires</key>
						<string>4/5/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>flutter_local_notifications.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4B5XVB7BVW</string>
						<key>name</key>
						<string>Rohith Venkatesh</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>83838A39173A705B9CE0B38352504585C6D2A00F</string>
						<key>dateExpires</key>
						<string>4/5/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>flutter_picker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4B5XVB7BVW</string>
						<key>name</key>
						<string>Rohith Venkatesh</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>83838A39173A705B9CE0B38352504585C6D2A00F</string>
						<key>dateExpires</key>
						<string>4/5/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>fluttertoast.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4B5XVB7BVW</string>
						<key>name</key>
						<string>Rohith Venkatesh</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>83838A39173A705B9CE0B38352504585C6D2A00F</string>
						<key>dateExpires</key>
						<string>4/5/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>geoflutterfire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4B5XVB7BVW</string>
						<key>name</key>
						<string>Rohith Venkatesh</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>83838A39173A705B9CE0B38352504585C6D2A00F</string>
						<key>dateExpires</key>
						<string>4/5/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>geolocator.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4B5XVB7BVW</string>
						<key>name</key>
						<string>Rohith Venkatesh</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>83838A39173A705B9CE0B38352504585C6D2A00F</string>
						<key>dateExpires</key>
						<string>4/5/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>google_api_availability.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4B5XVB7BVW</string>
						<key>name</key>
						<string>Rohith Venkatesh</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>83838A39173A705B9CE0B38352504585C6D2A00F</string>
						<key>dateExpires</key>
						<string>4/5/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4B5XVB7BVW</string>
						<key>name</key>
						<string>Rohith Venkatesh</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>83838A39173A705B9CE0B38352504585C6D2A00F</string>
						<key>dateExpires</key>
						<string>4/5/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>grpcpp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4B5XVB7BVW</string>
						<key>name</key>
						<string>Rohith Venkatesh</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>83838A39173A705B9CE0B38352504585C6D2A00F</string>
						<key>dateExpires</key>
						<string>4/5/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>image_picker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4B5XVB7BVW</string>
						<key>name</key>
						<string>Rohith Venkatesh</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>83838A39173A705B9CE0B38352504585C6D2A00F</string>
						<key>dateExpires</key>
						<string>4/5/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4B5XVB7BVW</string>
						<key>name</key>
						<string>Rohith Venkatesh</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>83838A39173A705B9CE0B38352504585C6D2A00F</string>
						<key>dateExpires</key>
						<string>4/5/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>location.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4B5XVB7BVW</string>
						<key>name</key>
						<string>Rohith Venkatesh</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>83838A39173A705B9CE0B38352504585C6D2A00F</string>
						<key>dateExpires</key>
						<string>4/5/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>multi_image_picker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4B5XVB7BVW</string>
						<key>name</key>
						<string>Rohith Venkatesh</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>83838A39173A705B9CE0B38352504585C6D2A00F</string>
						<key>dateExpires</key>
						<string>4/5/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4B5XVB7BVW</string>
						<key>name</key>
						<string>Rohith Venkatesh</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>83838A39173A705B9CE0B38352504585C6D2A00F</string>
						<key>dateExpires</key>
						<string>4/5/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>openssl_grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4B5XVB7BVW</string>
						<key>name</key>
						<string>Rohith Venkatesh</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>83838A39173A705B9CE0B38352504585C6D2A00F</string>
						<key>dateExpires</key>
						<string>4/5/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>path_provider.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4B5XVB7BVW</string>
						<key>name</key>
						<string>Rohith Venkatesh</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>83838A39173A705B9CE0B38352504585C6D2A00F</string>
						<key>dateExpires</key>
						<string>4/5/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>shared_preferences.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4B5XVB7BVW</string>
						<key>name</key>
						<string>Rohith Venkatesh</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>83838A39173A705B9CE0B38352504585C6D2A00F</string>
						<key>dateExpires</key>
						<string>4/5/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>sqflite.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4B5XVB7BVW</string>
						<key>name</key>
						<string>Rohith Venkatesh</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>83838A39173A705B9CE0B38352504585C6D2A00F</string>
						<key>dateExpires</key>
						<string>4/5/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>stripe_payment.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4B5XVB7BVW</string>
						<key>name</key>
						<string>Rohith Venkatesh</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>83838A39173A705B9CE0B38352504585C6D2A00F</string>
						<key>dateExpires</key>
						<string>4/5/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>uni_links.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4B5XVB7BVW</string>
						<key>name</key>
						<string>Rohith Venkatesh</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>83838A39173A705B9CE0B38352504585C6D2A00F</string>
						<key>dateExpires</key>
						<string>4/5/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>url_launcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4B5XVB7BVW</string>
						<key>name</key>
						<string>Rohith Venkatesh</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>4B5XVB7BVW.rohithv.shareapp</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>applinks:https://share-app.web.app/</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>4B5XVB7BVW</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>7b77b676-7e12-4797-95ae-356265da47c1</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: rohithv.shareapp</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>4B5XVB7BVW</string>
				<key>name</key>
				<string>Rohith Venkatesh</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
